@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    opacity: 1;
    overflow-y: scroll;
    margin: 0;
    overflow: hidden;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.275rem;
    color: var(--bs-emphasis-color);
}

/* Layout for admin dashboard skeleton */

.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
}

#sidebar {
    max-width: 264px;
    min-width: 264px;
    background: rgb(255, 255, 255);
    transition: all 0.35s ease-in-out;
    
}

/* Add this CSS to your stylesheet */
#sidebar {
    height: 500vh; /* Set sidebar height to viewport height */
    overflow-y: auto; /* Enable vertical scrollbar when content overflows */
  }
  
  .sidebar-nav {
    height: 100%; /* Set sidebar navigation height to fill sidebar */
  }
  
.cart{
    width: 40px;
}
  
  .sidebar-dropdown {
    padding-left: 20px; /* Indent nested dropdown items */
  }
  /* Define custom scrollbar styles */
  #sidebar::-webkit-scrollbar {
    width: 2px; /* Width of the scrollbar */
  }
  
  /* Track styles */
  #sidebar::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
  }
  
  /* Handle styles */
  #sidebar::-webkit-scrollbar-thumb {
    background: #888; /* Color of the handle */
  }
.content{
    max-height: calc(100vh - 56px); overflow-y: auto;
}
.content::-webkit-scrollbar {
    width: 2px; /* Width of the scrollbar */
  }
.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    width: 100%;
    background: rgb(255, 255, 255);
}

/* Sidebar Elements Style */

.sidebar-logo {
    padding: 1.15rem;
}

.sidebar-logo a {
    color: #000000;
    font-size: 1.15rem;
    font-weight: 600;
}
@media only screen and (max-width: 736px) {
    .sidebar-logo a {
    display:none;
  
    }
    nav .navbar{
        padding: 1.15rem;
    }
  }

  .place-order--btn{
    display: none;
  }

  /* Media query for smaller devices */
@media only screen and (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .cart-container {
        order: 2; /* Change the order so the cart is at the bottom */
        position: fixed;
        bottom: 0px;
        right: 0px;
        background-color: #fff;
   
        border-radius: 0%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 999; /* Ensure it's above other content */
        /* width: 100%; */
    }
 
    .cart-container img{
        margin-left: 60px;
    }

    .place-order--btn{
display: block;
width: 100%;

    }

    /* Add margin to the main content */
    main {
        margin-bottom: 70px; /* Adjust as needed */
    }
}


.sidebar-nav {
    flex-grow: 1;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 0;
}

.sidebar-header {
    color: #010101;
    font-size: .75rem;
    padding: 1.5rem 1.5rem .375rem;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #000000;
    position: relative;
    display: block;
    font-size: 0.875rem;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.avatar {
    height: 40px;
    width: 40px;
}
.navbar{
    background-color: #FDD670;
    padding: 0;
}
.navbar-expand .navbar-nav {
    margin-left: auto;
}
.navbar-toggler-icon{
color: rgb(0, 0, 0);
}

.content {
    flex: 1;
    max-width: 100vw;
    width: 100vw;
}

@media (min-width:768px) {
    .content {
        max-width: auto;
        width: auto;
    }
}

.card {
    box-shadow: 0 0 .875rem 0 rgba(34, 46, 60, .05);
    margin-bottom: 24px;
}



/* Sidebar Toggle */

#sidebar.collapsed {
    margin-left: -264px;
}

/* Footer and Nav */
input[type=text] {
    width: 800px; /* Set width to 100% for smaller devices */
    box-sizing: border-box;
    border: 2px solid #ffffff;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    padding: 5px;
  }
  
  /* Media query for devices with max width of 600px */
  @media only screen and (max-width: 736px) {
    input[type=text] {
      font-size: 14px; /* Decrease font size for smaller devices if needed */
      width: 100%;
    }
  }
  
  
@media (max-width:767.98px) {

    .js-sidebar {
        margin-left: -264px;
    }

    #sidebar.collapsed {
        margin-left: 0;
    }

    .navbar,
    footer {
        width: 100vw;
    }
}

/* Theme Toggler */



/* a:is(:link,:active,:visited).active{
    color: azure;
    background-color: antiquewhite;
} */

.card-main{
    padding-bottom: 100px;
}